{% extends 'base.html' %}

{% block header %}
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0">ABOUT US</h1>
      <h2 class="text-black mx-auto mt-2 mb-5">
      	We are Imagine DataScience.
        </h2>
        <p class="text-justify">
        	Founded by two young entrepeneurs that love translating the latest data science innovations to real world applications. We built this website using Python, Flask, OpenCV, 
        	<a href="https://github.com/ageitgey/face_recognition">Face Recognition API from Ageitey</a> and Google Cloud. <br>
        	We try to learn new stuff every day implementing new technologies.
        	<br><br>
        	Got any questions or remarks? Please <a href="https://www.doppel-ganger.me/contact">Contact Us</a>.<br>
        	You can also read our <a href="https://www.doppel-ganger.me/privacy-policy">Privacy Policy</a>.

        </p>

    </div>
  </div>
</header>
{% endblock %}
