{% extends 'base.html' %}

{% block header %}
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0">Upload your photo</h1><br><br>
    	{% if error %}
        	<p class=error><strong>Error:</strong> {{ error }}
      	{% endif %}

        <div  id="loading"><br><br><br>
           <p class="text-center">
            Analyzing image..
           </p>
        </div>
        <div id="content">
          <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
              <input type="file" name="file"> <br><br>
              <input class="btn btn-primary js-scroll-trigger" type="submit" value="Upload" onclick="loading();">
            </form>
          </div>
        </div>
        <br><br><br><br><br>
        <p class="text-justify">
        Upload your photo to see which Game of Thrones character most closely resembles you!
        <br>
        Note: your uploaded photo is deleted immediately after scanning it. We do <span style="font-weight: 900;">NOT</span> store this information and never intend to!
      </p>
    </div>
  </div>
</header>
{% endblock %}
